fastapi
uvicorn
sqlalchemy
requests
schedule
beautifulsoup4
python-multipart
psycopg2-binary
python-dotenv
numpy
sentence-transformers
pgvector
apscheduler
alembic
google-generativeai
thefuzz
python-Levenshtein
